## .NET / Visual Studio
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.rsuser

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## NuGet
**/packages/*
!**/packages/build/
*.nupkg
**/[Pp]ackages/
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json

## Rider / JetBrains
.idea/
*.sln.iml

## VS Code
.vscode/

## OS files
.DS_Store
Thumbs.db
desktop.ini

## Logs
logs/
*.log

## App data
license.dat

## Publish output
publish/
